<%= simple_form_for @comment do |form| %>
    <%= form.hidden_field  :article_id, value: @comment.article_id %>
    <div>
        <strong><%= form.label :Escribe_un_comentario, class: "mt-4" %></strong>
        <%= form.input  :content, label: false, error: "Este campo es obligatorio.", placeholder: "Escribe un comentario..." %>
    </div>

    <div class="d-flex" style="margin-top: 20px">
        <div>
            <%= link_to articles_path, class: "btn btn-secondary" do%>
                <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
            <% end %>
        </div>
        <div class="ms-auto">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk" style="color: #ffffff;"></i>
            </button>
        </div>
    </div>
<% end %>
