<%= simple_form_for @comment do |form| %>
    <%= form.hidden_field  :article_id, value: @comment.article_id %>
    <div>
        <strong><%= form.label :Escribe_un_comentario, class: "mt-4" %></strong>
        <%= form.input  :content, label: false, error: "Este campo es obligatorio.", placeholder: "Escribe un comentario..." %>
    </div>

    <div style="margin-top: 20px">
        <%= form.submit "Guardar", class: "btn btn-primary" %>
        <%= link_to 'Volver', articles_path, class: "btn btn-secondary" %>
    </div>
<% end %>
