<div class="card p-4" style="margin-bottom: 30px; width: 80%">
    <div class="d-flex">
        <div>
            <h4 class="text-uppercase" style="margin: auto;"><%= article.title %></h4>
        </div>
        <div class="ms-auto cointaner-foto">
            <%= image_tag url_for(article.user.avatar), class: "card-img" %>
        </div>
    </div>

    <div>
        <% article.categories.each do |category| %>
            <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
                <%= link_to category.title, category, class:"text-white"%>
            </span>
        <% end %>
    </div>
    <p class="mt-2"><%= article.content.to_plain_text.truncate(400) %></p>
    <p class="text-secondary"><%= article.created_at %></p>
    <%= link_to "Ver más", article %>
</div>
