<%= form_with(model: @article, local: true) do |form| %>
    <div>
    <strong><%= form.label :Titulo %></strong><br />
    <%= form.text_field  :title %>
    </div>

    <div>
        <strong><%= form.label :Categoría, class: "mt-4" %></strong>
        <div class="row">
            <% @categories.each do |category| %>
            <label class="col-2">
                <%= form.check_box :category_elements, {multiple: true}, category.id, nil %>
                <%= category.title %>
            </label>
            <% end %>
        </div>
    </div>

    <div>
    <strong><%= form.label :Cuerpo, class: "mt-4" %></strong>
    <%= form.rich_text_area  :content %>
    </div>

    <div style="margin-top: 20px">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to 'Volver', articles_path, class: "btn btn-secondary" %>
    </div>
<% end %>