<%= simple_form_for @article do |form| %>
    <div>
        <strong><%= form.label :Titulo %></strong><br />
        <%= form.input  :title, label: false, error: 'Este campo es obligatorio.' %>
    </div>

    <div>
        <strong><%= form.label :Categoría, class: "mt-4" %></strong>
        <div class="row">
            <% @categories.each do |category| %>
            <label class="col-2">
                <%#= form.check_box :category_elements, {multiple: true}, category.id, nil %>
                <%= form.input :category_elements, label: category.title, as: :boolean, collection: [category],
                checked_value: category.id, unchecked_value: nil, required: false,
                input_html: { multiple: true }, error: "Debe seleccionar al menos una categoría." %>
                <%#= category.title %>
            </label>
            <% end %>
        </div>
    </div>

    <div>
    <strong><%= form.label :Cuerpo, class: "mt-4" %></strong>
    <%= form.input  :content,as: :rich_text_area, label: false, error: "Este campo es obligatorio." %>
    </div>

    <div style="margin-top: 20px">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to 'Volver', articles_path, class: "btn btn-secondary" %>
    </div>
<% end %>